@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter";
}


.page-container {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;



}

header {

        display: flex;
        width: 1528px;
        height: 71px;
        background-color: #3750B3;
        border: 0px 5px 0px 0px solid black;
        color: #FFFFFF;
        justify-content: space-between;
        
    }

.Imagem-Filme {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 48vh;
    margin: 50px;
    
}

.des {

    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 50px;
}

.direito {

    display: flex;
    padding: 30px 110px;
    gap: 40px;
    cursor: pointer;
}

.esquerdo {

    display: flex;
    justify-content: space-between;
    
    height: 60px;
    padding: 30px 50px;
    
}