@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter";
}

.cabecalho {

    width: 100vw;
    height: 71px;
    background-color: #3750B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho p {

    color: white;
    margin-right: 28px;
}

.right {

    display: flex;
    margin-right: 10vw;
}

.left {

    margin-left: 10vw

}

.caixa-da-img {

    width: 100vw;
    display: flex;
    justify-content: center; /* Centraliza a imagem no centro */
    margin-top: 100px;

}

.caixa-da-img img {

    width: 80vw;

}

.textos {

    margin-left: 10vw;
    margin-top: 80px;


}

h1 {

    font-size: 64px;
    font-weight: normal;
}

.textos p {

    font-size: 32px;

}